
/* general */
.page-link.active, .active > .page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #ff8d04;
    border: none;
}



.whatsapp-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    padding: 14px 17px;
    z-index: 999999999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.whatsapp-chat a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.whatsapp-chat a:hover {
    transform: scale(1.1);
}


/*end */

/* changes color of header */

.navbar-right li.btn.btn-fill {
    background: #f7e12a;
    border-color: #f7e12a;
}

.navbar-right li.btn.btn-fill:hover,
.btn.btn-fill:focus,
.btn.btn-fill:active {
    background: transparent;
    border: 2px solid #f7e12a;
    color: #f7e12a;
}

.navbar-right li.btn.btn-fill a:hover,
.btn.btn-fill a:focus,
.btn.btn-fill a:active {
    color: #f7e12a;
}

/* main menu */
#navbar-main {
    width: 100%;
    background-color: #fff;
}

/* change color of arrow slider */
.tparrows:before {
    color: #ff8d04;
}

/* change color of section success and counter */

.counter.b-clor {
    color: #f7e12a;
    font-weight: 800;
}

@media screen and (max-width: 767px) {
    .main-menu .navbar-brand > img {
        max-height: 55px;
        width: 100%;
    }

    .main-menu {
        padding: 5px 0;
    }

    .main-slider .btn.btn-fill,
    .main-slider .btn.btn-nofill {

        display: block !important;
    }


}



/* image size of clients */

.upwork-logo , .course-logo, .nadel-logo
{
    position: relative;
}

.upwork-logo
{
    top: 25px;
}


.course-logo
{
    top: 40px;
}

.nadel-logo
{
    top: 20px;
}

